<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="tokensAndUserStorage"
          class="org.example.servletsHomework.storage.TokensAndUserStorage">
    </bean>

    <bean id="tokenAuthenticationFilter"
          class="org.example.servletsHomework.filters.TokenAuthenticationFilter">
        <constructor-arg ref="tokensAndUserStorage"/>
    </bean>

    <bean id="registerServlet" class="org.example.servletsHomework.servlet.RegisterServlet">
        <constructor-arg ref="tokensAndUserStorage"/>
    </bean>

    <bean id="loginServlet" class="org.example.servletsHomework.servlet.LoginServlet">
        <constructor-arg ref="tokensAndUserStorage"/>
    </bean>

    <bean id="idGenerator"
          class="org.example.servletsHomework.service.InMemoryIdGenerator">
    </bean>

    <bean id="textDao"
          class="org.example.servletsHomework.dao.HashMapTextDao">
    </bean>

    <bean id="textService" class="org.example.servletsHomework.service.TextService">
        <constructor-arg ref="textDao"/>
    </bean>

    <bean id="objectMapper"
          class="com.fasterxml.jackson.databind.ObjectMapper">
    </bean>

    <bean id="textsServlet" class="org.example.servletsHomework.servlet.TextsServlet">
        <constructor-arg ref="objectMapper"/>
        <constructor-arg ref="idGenerator"/>
        <constructor-arg ref="textService"/>
    </bean>


</beans>